a:hover {
    text-decoration-style: dotted;
}

/*#bg {
    width: auto;
    height: auto;
    position: absolute;
    left:0;
    top:0;
}*/

/*body {
    background-image: url(/static/bg.jpg) no-repeat center center;
    background-size: cover;
}*/

.nav a {
    font-size: 15px;
}

#body {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
}

#auth {
    max-width: 500px;
}

.data-loading {
    height: 300px;
    text-align: center;
}

.dislike {
    display: inline-block;
    float: right;
    cursor: pointer;
    color: transparent;
    position: relative;
    right: 0;
}

.repo:hover .dislike {
    color: #aa3333;
}

.dislike-true {
    color: #33aa33;
}

.dislike-error {
    color: #aa3333;
}

.dislike-text {
    font-size: 80%;
    font-weight: 200;
    position: relative;
    bottom: 10px;
}

.dislike-icon {
    font-size: 300%;
    font-weight: 600;
}

.dislike:hover {
    text-shadow: 0 0 8px #9ECFE4;
}

.flash {
    max-width: 500px;
}

.repo {
    width: 400px;
    min-height: 250px;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.repo header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.repo-owner {
    color: #ccc;
    font-size: 70%;
    font-weight: 100;
}

.repo .user-repo {
    height: 250px;
}

.repo-body {
    min-height: 200px;
    position: relative;
}

.repo-description {
    cursor: default;
}

.repo-disliked {
    opacity: 0.5;
}

.repo-footer {
    position: absolute;
    bottom: 0px;
    width: 368px;
    height: 65px;
}

.repo-langs {
    margin-bottom: 0px;
    cursor: default;
    padding-left: 60px;
    padding-bottom: 10px;
}

.star {
    display: inline-block;
    cursor: pointer;
    font-size: 300%;
    font-weight: 600;
}

.star:hover {
    text-shadow: 0 0 8px #9ECFE4;
}

.star-error {
    color: #aa3333;
}

.star-spin {
    animation-name: starSpin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes starSpin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes placeHolderFrames{
    0%{
        background-position: -200px 0
    }
    100%{
        background-position: 200px 0
    }
}

.placeholder {
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    margin: 0 auto;
    max-width: 400px;
    min-height: 250px;
}

.placeholder-bg {
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderFrames;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #e8eced 8%, #d0d9dc 18%, #e8eced 33%); /*9ECFE4 B0E6FE d6f3ff ebf9ff 92A5AD e8eced dfe5e7*/
    background-size: 400px 230px;
    height: 200px;
    position: relative;
}

.mask-bg {
    background: #fff;
    position: absolute;
}

header .mask-bg {
    background: #3F51B5;
    position: absolute;
}

.mask-bg.header-top {
    border-top-left-radius: 5px!important;
    border-top-right-radius: 5px!important;
    top: 0;
    left: 0px;
    right: 0;
    height: 10px;
}

.mask-bg.header-left {
    top: 10px;
    left: 0px;
    height: 24px;
    width: 32px;
}

.mask-bg.header-middle {
    top: 10px;
    left: 100px;
    right: 0;
    height: 24px;
    width: 30px;
}

.mask-bg.header-right {
    top: 10px;
    left: 300px;
    right: 0;
    height: 24px;
    width: auto;
}

.mask-bg.header-bottom {
    top: 34px;
    left: 0px;
    right: 0;
    height: 10px;
}

.mask-bg.body-top {
    top: 44px;
    left: 0px;
    right: 0;
    height: 10px;
}

.mask-bg.body-left {
    top: 54px;
    left: 0px;
    height: 24px;
    width: 32px;
}

.mask-bg.body-right {
    top: 54px;
    left: 330px;
    right: 0;
    height: 24px;
    width: auto;
}

.mask-bg.body2-top {
    top: 78px;
    left: 0px;
    right: 0;
    height: 10px;
}

.mask-bg.body2-left {
    top: 88px;
    left: 0px;
    height: 24px;
    width: 32px;
}

.mask-bg.body2-right {
    top: 88px;
    left: 330px;
    right: 0;
    height: 24px;
    width: auto;
}

.mask-bg.body-bottom {
    top: 112px;
    left: 0px;
    right: 0;
    height: 50px;
}

.mask-bg.langs-left {
    top: 162px;
    left: 0px;
    height: 40px;
    width: 32px;
}

.mask-bg.langs-right {
    top: 162px;
    left: 230px;
    right: 0;
    height: 40px;
    width: auto;
}


/*Graph styles for d3*/


.link {
    fill: none;
    stroke: #88A;
    stroke-width: 0.3px;
}

.link.repo-to-user {
    stroke: #88A;
}

.link.repo.user-to-repo {
    stroke-dasharray: 0,2 1;
    stroke: #A88;
}

circle {
    fill: #544;
    stroke: #333;
    stroke-width: 0.5px;
}

text {
    font: 10px sans-serif;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

#d3 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
