p {
    /*background-color: blue;*/
    /*color: blue;*/
}

.flash {
    max-width: 500px;
}

.repo {
    width: 400px;
    display: inline-block;
}

#body {
    margin-left: 10px;
    margin-right: 10px;
}

#auth {
    max-width: 500px;
}
