<html>
<head>
    <title>Repo Recommender</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel=stylesheet type=text/css href="/static/style.css">
</head>
<body>
  <nav class="w3-bar w3-light-grey w3-card">
    <span class="w3-bar-item w3-mobile w3-blue-grey nav-brand">Repo Recommender</span>
    <a href="/" class="w3-bar-item w3-button w3-mobile">Home</a>
    <a href="/about" class="w3-bar-item hover-subtle w3-button w3-mobile">About</a>
    {% if "user_id" in session %}
        <a href="/me" class="w3-bar-item w3-right hover-subtle w3-button w3-mobile">Profile</a>
        <a href="/logout" class="w3-bar-item w3-right hover-subtle w3-button w3-pale-red w3-mobile">Logout</a>
    {% endif %}
    {% if "user_id" not in session %}
        <a href="/login" class="w3-bar-item w3-right hover-subtle w3-button w3-pale-red w3-mobile">Login</a>
    {% endif %}
  </nav>
  
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li class="alert alert-warning" role="alert">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div class="container">
      {% block content %}{% endblock %}
    </div>

  <script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
</body>
</html>