<html>
  <head>
      <title>Repo Recommender</title>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
      <link rel=stylesheet type=text/css href="/static/style.css">
      <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  </head>
  <body>
    <nav class="w3-bar w3-top w3-black w3-card-4 w3-mobile">
      <a href="/" class="w3-bar-item w3-button w3-mobile w3-hide-small w3-hover-none w3-hover-text-red nav-brand w3-text-red">Repo Recommender</a>
      <a href="/about" class="w3-bar-item w3-button w3-mobile w3-hide-small w3-hide-medium w3-hover-none w3-hover-text-light-blue">About</a>
      {% if "user_id" in session %}
        <a href="/recs" class="w3-bar-item w3-button w3-mobile w3-hide-small w3-hide-medium w3-hover-none w3-hover-text-light-blue">Recommendations</a>
        <a href="/logout" class="w3-bar-item w3-right w3-button w3-mobile w3-hide-small w3-hide-medium w3-hover-none w3-hover-text-light-blue">
          <i class="fas fa-sign-out-alt"></i> Logout
        </a>
        <a href="/me" class="w3-bar-item w3-right w3-button w3-mobile w3-hide-small w3-hide-medium w3-hover-none w3-hover-text-light-blue">
          <i class="fas fa-user-circle"></i> Profile
        </a>
      {% endif %}
      {% if "user_id" not in session %}
        <a href="/login" class="w3-bar-item w3-right w3-button w3-mobile w3-hide-small w3-hide-medium w3-hover-none w3-hover-text-light-blue">
          <i class="fas fa-sign-in-alt"></i> Login
        </a>
      {% endif %}
      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-mobile w3-right w3-hide-large" onclick="showNav()">&#9776;</a>
    </nav>

    <nav id="nav-small" class="w3-bar-block w3-mobile w3-black w3-card w3-hide w3-hide-large">
      <a href="/" class="w3-bar-item w3-button w3-mobile w3-hover-none w3-hover-text-red  w3-text-red w3-hide-medium">Repo Recommender</a>
      <a href="/about" class="w3-bar-item w3-button w3-mobile w3-hover-none w3-hover-text-light-blue">About</a>
      {% if "user_id" in session %}
        <a href="/recs" class="w3-bar-item w3-button w3-mobile w3-hover-none w3-hover-text-light-blue">Recommendations</a>
        <a href="/me" class="w3-bar-item w3-right w3-button w3-mobile w3-hover-none w3-hover-text-light-blue">
          <i class="fas fa-user-circle"></i> Profile
        </a>
        <a href="/logout" class="w3-bar-item w3-right w3-button w3-mobile w3-hover-none w3-hover-text-light-blue">
          <i class="fas fa-sign-out-alt"></i> Logout
        </a>
      {% endif %}
      {% if "user_id" not in session %}
        <a href="/login" class="w3-bar-item w3-right w3-button w3-mobile w3-hover-none w3-hover-text-light-blue">
          <i class="fas fa-sign-in-alt"></i> Login
        </a>
      {% endif %}
    </nav>
    
    <section id="body">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="flash w3-panel w3-pale-yellow w3-display-container w3-round-large">
            <span onclick="this.parentElement.style.display='none'"
                  class="w3-button w3-display-topright w3-round-large">&times;</span> 
            <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endwith %}

      <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
      <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
      <script src="http://unpkg.com/babel-standalone"></script>
      <script src="http://code.jquery.com/jquery-3.3.1.min.js"
              integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script>
      
      <div class="w3-container">
        {% block content %}{% endblock %}
      </div>
    </section>


    <script>
    function showNav() {
        var x = document.getElementById("nav-small");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else { 
            x.className = x.className.replace(" w3-show", "");
        }
    }
    </script>
  </body>
</html>