{% extends 'base.html' %}
{% block content %}

<h1>Repo Recommender</h1>
<p>Welcome!</p>

{% if "user_id" not in session %}
  <div id="auth" class="w3-card-4 w3-margin">
    <header class="w3-container w3-blue-grey">
      <h2>Authenticate with Github</h2>
    </header>
    <div class="w3-container">
      <p>
        Please <a href="/login">click here</a> 
        to authenticate with Github OAuth.</p>
      <p>
        <i>To view your profile details, follow users, or 
        star/watch repositories, Repo Recommender needs access to
        read your profile and to update your follows.</i>
      </p>
    </div>
  </div>
{% endif %}

{% endblock %}