{% extends 'base.html' %}
{% block content %}

  <h1>Repositories you might like:</h1>

<!--   <div class="w3-card-4 w3-margin repo">
    <header class="w3-container w3-blue-grey">
      <h3 class="w3-container w3-blue-grey">
        <a class="repo-owner" href="">
          @ repo.owner_login 
        </a>
        &nbsp;/&nbsp;
        <b><a class="repo-name" href="">
           repo.name 
        </a></b>
      </h3>
    </header>
    <div class="w3-container">
      <p class="repo-description"> repo.description </p>
       listLangs 
    </div>
  </div> -->

  <section id="repo-recs">
    Recommendations will show here.
  </section>

  {% if "access_token" in session %}
    <div id="details" data-access-token="{{ session['access_token'] }}">
    </div>
  {% endif %}

  <script src="/static/repo.jsx" type="text/jsx"></script>
  <script src="/static/recs.jsx" type="text/jsx" ></script>
{% endblock %}
