{% extends 'base.html' %}
{% block content %}

  <h1>Repositories you might like:</h1>

  <button id="get-repo-recs" 
          class="w3-btn w3-light-grey"
          data-user-id="{{ user_id }}">
    Give me some recommendations!
  </button>
  

  <div class="w3-card-4 w3-margin repo">
    <header class="w3-container w3-blue-grey">
      <h2>repo.name</h2>
    </header>
    <div class="w3-container">
      <p>repo.description</p>
      <ul>

        <li>
          lang.language.language_name : lang.language_bytes
        </li>

      </ul>
    </div>
  </div>

  <section id="repo-recs">Recommendations will show here.</div>

  <script src="/static/repo.jsx" type="text/jsx"></script>
  <script src="/static/recs.js" type="text/jsx" ></script>
{% endblock %}
